Source: python3.3
Section: python
Priority: optional
Maintainer: Felix Krull <f_krull@gmx.de>
XSBC-Original-Maintainer: Matthias Klose <doko@debian.org>
Build-Depends: debhelper (>= 7), autoconf,
   mime-support, netbase, lsb-release, bzip2,
   zlib1g-dev, libbz2-dev, libdb-dev, libssl-dev, libreadline-dev, libexpat1-dev,
   libncursesw5-dev (>= 5.3), tk8.5-dev, blt-dev (>= 2.4z), libgpm2 [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64],
   libbluetooth-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], locales [!armel !avr32 !hppa !ia64 !mipsel],
   libsqlite3-dev, libffi-dev (>= 3.0.5-2), libgdbm-dev,
   gdb, python,
   dpkg-dev (>= 1.16.1~)
Build-Depends-Indep: python-sphinx (>= 1.0.7)
Build-Conflicts: tcl8.4-dev, tk8.4-dev, tcl8.3-dev, tk8.3-dev, python3.3-xml, python-xml, autoconf2.13
XS-Python-Version: 3.3
Standards-Version: 3.9.5
Homepage: http://python.org/
Vcs-Browser: https://bitbucket.org/fk/deadsnakes-python3.3
Vcs-Hg: https://bitbucket.org/fk/deadsnakes-python3.3
X-Original-Vcs-Browser: https://code.launchpad.net/~doko/python/pkg3.3
X-Original-Vcs-Bzr: http://bazaar.launchpad.net/~doko/python/pkg3.3

Package: python3.3
Architecture: any
Priority: optional
Depends: python3.3-minimal (= ${binary:Version}), mime-support, ${shlibs:Depends}, ${misc:Depends}
Suggests: python3.3-doc, binutils
Provides: python3.3-cjkcodecs, python3.3-ctypes, python3.3-elementtree, python3.3-celementtree, python3.3-wsgiref, python3.3-profiler
Replaces: python3.3-gdbm (<< 3.3.5-1)
Breaks: python3.3-gdbm (<< 3.3.5-1)
XB-Python-Version: 3.3
Description: Interactive high-level object-oriented language (version 3.3)
 Version 3.3 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.

Package: python3.3-minimal
Architecture: any
Priority: optional
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: python3.3
Suggests: binfmt-support
Conflicts: binfmt-support (<< 1.1.2)
XB-Python-Runtime: python3.3
XB-Python-Version: 3.3
Breaks: python3.3 (<< 3.3.5-1)
Replaces: python3.3 (<< 3.3.5-1)
Description: Minimal subset of the Python language (version 3.3)
 This package contains the interpreter and some essential modules.  It can
 be used in the boot process for some basic tasks.
 See /usr/share/doc/python3.3-minimal/README.Debian for a list of the modules
 contained in this package.

Package: libpython3.3
Architecture: any
Section: libs
Priority: optional
Depends: python3.3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Shared Python runtime library (version 3.3)
 Version 3.3 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package contains the shared runtime library, normally not needed
 for programs using the statically linked interpreter.

Package: python3.3-examples
Architecture: all
Depends: python3.3 (>= ${binary:Version}), ${misc:Depends}
Description: Examples for the Python language (version 3.3)
 Examples, Demos and Tools for Python (version 3.3). These are files included
 in the upstream Python distribution (version 3.3).

Package: python3.3-dev
Architecture: any
Depends: python3.3 (= ${binary:Version}), libpython3.3 (= ${binary:Version}), libssl-dev, ${shlibs:Depends}, ${misc:Depends}
Recommends: libc6-dev | libc-dev
Description: Header files and a static library for Python (version 3.3)
 Header files, a static library and development tools for building
 Python (version 3.3) modules, extending the Python interpreter or embedding
 Python (version 3.3) in applications.
 .
 Maintainers of Python packages should read README.maintainers.

Package: idle-python3.3
Architecture: all
Depends: python3.3, python3.3-tk, ${misc:Depends}
Enhances: python3.3
XB-Python-Version: 3.3
Description: IDE for Python (version 3.3) using Tkinter
 IDLE is an Integrated Development Environment for Python (version 3.3).
 IDLE is written using Tkinter and therefore quite platform-independent.

Package: python3.3-dbg
Section: debug
Architecture: any
Priority: extra
Depends: python3.3 (>= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: python3.3-gdbm-dbg, python3.3-tk-dbg
Description: Debug Build of the Python Interpreter (version 3.3)
 Python interpreter configured with --pydebug. Dynamically loaded modules are
 searched in /usr/lib/python3.3/lib-dynload/debug first.

Package: python3.3-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-jquery
Suggests: python3.3
Description: Documentation for the high-level object-oriented language Python (version 3.3)
 This is the official set of documentation for the interactive high-level
 object-oriented language Python (version 3.3). All documents are provided
 in HTML format. The package consists of ten documents:
 .
   * What's New in Python 3.3
   * Tutorial
   * Python Library Reference
   * Macintosh Module Reference
   * Python Language Reference
   * Extending and Embedding Python
   * Python/C API Reference
   * Installing Python Modules
   * Documenting Python
   * Distributing Python Modules

Package: python3.3-tk
Architecture: any
Depends: python3.3, ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Suggests: tix, python3.3-tk-dbg
XB-Python-Version: ${python:Versions}
Description: Tkinter - Writing Tk applications with Python (version 3.3)
 A module for writing portable GUI applications with Python (version 3.3)
 using Tk. Also known as Tkinter.

Package: python3.3-gdbm
Architecture: any
Depends: python3.3, ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Suggests: python3.3-gdbm-dbg
XB-Python-Version: ${python:Versions}
Description: GNU dbm database support for Python (version 3.3)
 GNU dbm database module for Python (version 3.3). Install this if you want to
 create or read GNU dbm database files with Python.

Package: python3.3-tk-dbg
Architecture: any
Priority: extra
Section: debug
Depends: python3.3, ${python:Depends}, python3.3-tk (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Tkinter - Writing Tk applications with Python (version 3.3 debug extension)
 A module for writing portable GUI applications with Python (version 3.3)
 using Tk. Also known as Tkinter.
 .
 This package contains the extensions built for the Python debug interpreter.

Package: python3.3-gdbm-dbg
Architecture: any
Priority: extra
Section: debug
Depends: python3.3, ${python:Depends}, python3.3-gdbm (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: GNU dbm database support for Python (version 3.3 debug extension)
 GNU dbm database module for Python (version 3.3). Install this if you want to
 create or read GNU dbm database files with Python.
 .
 This package contains the extensions built for the Python debug interpreter.


Package: python3.3-complete
Architecture: all
Priority: extra
Depends:
 python3.3 (>= ${binary:Version}),
 libpython3.3 (>= ${binary:Version}),
 python3.3-examples (>= ${binary:Version}),
 python3.3-dev (>= ${binary:Version}),
 idle-python3.3 (>= ${binary:Version}),
 python3.3-doc (>= ${binary:Version}),
 python3.3-dbg (>= ${binary:Version}),
 python3.3-tk (>= ${binary:Version}),
 python3.3-gdbm (>= ${binary:Version}),
 python3.3-tk-dbg (>= ${binary:Version}),
 python3.3-gdbm-dbg (>= ${binary:Version}),
 ${misc:Depends}
XB-Python-Version: 3.3
Description: Interactive high-level object-oriented language (version 3.3)
 Version 3.3 of the high-level, interactive object oriented language,
 includes an extensive class library with lots of goodies for
 network programming, system administration, sounds and graphics.
 .
 This package depends on all individual packages that were generated from the
 python3.3 source package.
